html {
	margin-top: 0;
	padding: 0px;
}

body {
	background-repeat:repeat;
	background-attachment:fixed;
	overflow:scroll;
	background-color: #f9e9c9;
	margin-top: 0px;
	margin-left: 0px;
}

h1 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	letter-spacing: 0px;
	line-height: 14px;
	text-align: center;
	color: #e51d30;
}


h2 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 6px;
	text-align: center;
	color: #e51d30;
}

h3 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -1px;
	line-height: 28px;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5px;
}

.contact-left h3 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px;
	margin-top: 25px;
}


h4 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 5px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	text-align: left;
	text-transform: uppercase;
	color: #fff;
}

h5 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 16px;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px;
}

h6 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 10px;
	text-align: left;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
}


p {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

hr {
	border: 0;
  height: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.copy {
	padding-top: 5px;
	width: 700px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
}

.clientcopy-right .clientcopy-left a {
	color: #fff;
}

.clientcopy-right .clientcopy-left a:link {color:#fff;}      /* unvisited link */
.clientcopy-right .clientcopy-left a:visited {color:#fff;}  /* visited link */
.clientcopy-right .clientcopy-left a:hover {color:#f79229;}  /* mouse over link */
.clientcopy-right .clientcopy-left a:active {color:#fff;}  /* selected link */


.clientcopy-right {
	padding-top: 20px;
	width: 300px;
	padding-left: 50px;
	float: left;
} 

.clientcopy-left {
	padding-top: 20px;
	width: 300px;
	padding-right: 50px;
	float: left;
} 

.copy p {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	font-family: 'serif';
	font-size: 16px;
	line-height: 24px;
	margin-right: auto;
	margin-left: auto;
}


.hero {
	width: 1200px;
	height: 1300px;
	margin-right: auto;
	margin-left: auto;
}

.herologo {
	margin-left: auto; 
	margin-right: auto;
	width: 600px;
	height: 400px;
	padding: 0px;
}

.herologo img {
	width: 600px;
	margin-left: auto;
  margin-right: auto ;
  padding-top: 175px;
}

.herologo h1 {
	width: 940px;
	margin-left: 180px ;
  margin-right: auto ;
  padding-top: 150px;
}

.headline {
	width: 940px;
	margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.headline-section-copy {
	width: 940px;
	margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.headline-section-about {
	width: 940px;
	margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}


.container {
	position:absolute;
	width: 100%;
}


.navbar{
	width: 100%;
	position: fixed;
	margin-top: 0;
	padding: 0;
	height: 60px;
	background-color: none;
}

nav {
	float:right;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-top: 20px;
	float: left;
	padding-right: 75px;
}

li {
	display: inline;
}

a {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	padding: 20px 15px 10px;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

a:link {color:#fff;}      /* unvisited link */
a:visited {color:#fff;}  /* visited link */
a:hover {color:#f3b543;}  /* mouse over link */
a:active {color:#fff;}  /* selected link */

#navbar-logo {
	padding: 0px 0px 0px 25px;
	float: left;
	padding-left: 75px;
}


.hero-unit {
	padding: 0px;
}

.maindiv {
	height: 960px;
}


.aboutus-wrapper {
	width: 100%;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.aboutus {
	width: 100%; 
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/about.png');
 	background-repeat: repeat-x;
 	text-align: left;
}

.aboutus-copy {
	padding-top: 100px;
	width: 400px;
	margin-left: 100px;
}

.package {
	width: 250px;
	margin-left: 5px;
}

.clients-copy a {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	padding: 0px;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.clients-copy a:link {color:#fff;}      /* unvisited link */
.clients-copy a:visited {color:#fff;}  /* visited link */
.clients-copy a:hover {color:#f3b543;}  /* mouse over link */
.clients-copy a:active {color:#fff;}  /* selected link */

.clients-wrapper {
	background-color: #cf2329;
	width: 100%;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.clients {
	width: 100%; 
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/ts_client.jpg);
 	background-repeat: repeat-x;
 	background-color: #150a1a;
}

.clients-copy {
	padding-top: 100px;
	width: 350px;
	margin-left: 10px;
	float: left;
	text-align: left;
}

.clients-copy-right {
	padding-top: 170px;
	width: 350px;
	margin-left: 10px;
	float: left;
	text-align: left;
}

.clients .headline-section h1 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	letter-spacing: 0px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.contact {
	width: 100%; 
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/spacer.png);
 	background-repeat: repeat-x;
 	background-color: none;
}


.contact-wrapper {
	width: 1100px;
	/*height: 1200px;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 500px;
}

.contact-left {
	width: 500px; 
	height: 600px;
	padding-top: 100px;
	padding-left: 50px;
	float: left;
	/*background-color: #fff*/;
}

.contact-right {
	width: 325px; 
	height: 600px;
	padding-top: 100px;
	padding-right: 50px;
	float: left;
	/*background-color: #fff*/;
}

.contact-right a {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -1px;
	line-height: 28px;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0px;
}

.contact-right a:link {color:#fff;}      /* unvisited link */
.contact-right a:visited {color:#fff;}  /* visited link */
.contact-right a:hover {color:#f3b543;}  /* mouse over link */
.contact-right a:active {color:#fff;}  /* selected link */

.contact-left input {
	width: 300px; 
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	padding: 10px;
	/*background-color: #fff*/;
}

.contact h3 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -1px;
	line-height: 30px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	padding: 0px 0px 0px 0px;
}



#submit {
	background-color:#f3b543;
/*	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #dcdcdc;*/
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	border-style: none;
	display:inline-block;
	width: 100px;
	height: 30px;
	color:#000;
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size:18px;
	/*padding:7px 27px;*/
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-top: 15px;
}
#submit:hover {
	background-color:#fff;
}
#submit:active {
	position:relative;
	top:1px;
}



#message {
	height: 200px;
}

::-webkit-input-placeholder {
   padding: 15px;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   padding: 15px; 
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding: 15px; 
   text-align: center;
}

:-ms-input-placeholder {  
   padding: 15px;
   text-align: center;
}


.currency-wrapper {
	width: 100%;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	/*overflow: visible;*/
	display: block;
}


.currency {
	width: 1000px; 
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/spacer.png);
 	background-repeat: repeat-x;
 	background-color: none;
 	text-align: left;
}


#heading, #results {
	width: 500px;
	margin: 0 auto;
	/*float; left;*/
}

#heading {
	font-weight:bold;
	font-size:28px;
	padding-bottom:10px;
	color:#333;
}

#currencyBox {
	background-color: none;
	overflow: visible;
	height: 400px;
	width: 350px;
	float:left;
	padding-top: 150px;
}

#resultsBox {
	background-color: none;
	overflow: visible;
	height: 600px;
	width: 600px;
	float: right;
	padding-top: 285px;
}


label {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -1px;
	color: #fff;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
	display:block;
	padding: 0px 0px 0px 0px;
	margin-top: 25px;
}


.data {
	/*float:left;*/
	width:auto;
	padding:0 5px;
}

input[type=button] {
	background-color:#f3b543;
/*	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #dcdcdc;*/
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	border-style: none;
	display:inline-block;
	width: 100px;
	height: 30px;
	color:#000;
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size:18px;
	/*padding:7px 10px;*/
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-top: 15px;
}

#convert:hover {
	background-color: #fff;
}

#convert:active {
	position: relative;
	top: 1px;
}

#results {
	display: none;
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -2px;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	display:block;
	padding: 15px 0px 0px 0px;
}

#results {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: none;
	overflow: hidden;
	padding: 10px;
	text-align: left;
	margin-top: 10px;
	float: left;
	width: 580px;
}

#amount {
	width: 300px; 
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.styled-select select {
  background: #fff;
  width: 320px;
  height: 37px;
  padding: 5px;
  font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	background: url(../img/dropdown.png) no-repeat right #fff;
	padding: 10px;
	/*float: left;*/
 }

.team-wrapper {
	background-color: none;
	width: 100%;
	/*height: 1200px;*/
	margin-left: auto;
	margin-right: auto;
}

.team {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/team.png);
 	background-repeat: repeat;
 	background-color: none;
}

.teamcopy-right {
	padding-top: 20px;
	width: 500px;
	padding-left: 50px;
	float: left;
} 

.teamcopy-left {
	padding: 125px 50px 50px 100px;
	width: 500px;
	float: left;
} 

.team-pic {
	padding-top: 125px;
	width: 450px;
	float: right;
}

.teamcopy {
	padding-top: 5px;
	width: 1200px;
	height: 700px;
	margin-right: auto;
	margin-left: auto;
}


.teamcopy-left ul li {
	display: block;
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	/*line-height: 10px;*/
	color: #2d1c34;
	margin:0;
	padding:0;
	margin-top: 10px;
	text-align: left;
}

.teamcopy-left h3 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -1px;
	line-height: 28px;
	text-align: left;
	text-transform: uppercase;
	color: #2d1c34;
	margin-top: 5px;
	margin-bottom: 5px;
}

.teamcopy-left h6 {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 10px;
	text-align: left;
	color: #2d1c34;
	margin-top: 0px;
	margin-bottom: 0px;
}

.teamcopy-left p {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #2d1c34;
	font-size: 18px;
	line-height: 24px;
}

footer {
	background-image: url(../img/footerbg.png);
	background-repeat: repeat;
	height: 250px;
	padding: 50px 50px 50px 50px;
}

footer a {
	float: left;
	padding: 0px;
}

footer p {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #fff;
	font-size: 13px;
	line-height: 23px;
}


#footer-logo {
	width: 175px;
	height: 66px;
	float:right;
	margin-top: 0px;
	padding-bottom: 0px;
}

#footer-address {
	width: 700px;
	float: left;
	margin-top: 0px;
	padding-bottom: 0px;
}

#footer-hr {
	width: 100%;
	float: left;
	margin-top: 0px;
}

#footer-content {
	width: 100%;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}



